@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
  /* Regular weight */
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  /* Bold weight */
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 300;
  /* Bold */
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
 }

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1400px;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
